/* font & background color */
* {
  font-family: "Quicksand", serif;
  background-color: rgb(245, 243, 240);
}

/*Header index*/
.main-img {
  width: 100%;
}
ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-inline: 4rem;
}

a {
  color: rgb(0, 103, 79);
  text-decoration: none;
}

p {
  color: rgb(0, 103, 79);
}

/*Main index*/
h2 {
  font-size: 3rem;
  color: rgb(0, 103, 79);
  grid-column: 3/5;
  grid-row: 1/1;
  align-self: end;
  margin-bottom: 0.2rem;
}

#text-about-me {
  grid-column: 3/4;
  grid-row: 2/2;
  justify-items: stretch;
}

.work {
  font-size: 2rem;
  color: rgb(0, 103, 79);
  grid-column: 2/2;
  justify-self: start;
  margin-top: 6rem;
}

.contact {
  font-size: 2rem;
  color: rgb(0, 103, 79);
  grid-column: 3/3;
  justify-self: end;
  margin-top: 6rem;
}

/*Grid sections index*/
.who-am-i {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
}

.work-and-contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
/* Main contact */
h1 {
  font-size: 7rem;
  color: rgb(0, 103, 79);
  text-align: center;
}
.text-contact {
  padding-left: 7rem;
}
form {
  padding-left: 7rem;
  padding-bottom: 2rem;
}
input {
  background-color: white;
  color: black;
  font-size: 1.2rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

button {
  color: rgb(0, 103, 79);
  font-size: 1.2rem;
  margin-left: 7rem;
  border-radius: 1rem;
}

#message-box {
  height: 18rem;
  width: 25rem;
  margin-top: 4rem;
}
/*Grid sections work*/
.images-text-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 0.5fr);
}

/*Main work page*/
.florentine-main {
  grid-column: 1;
  grid-row: 1/2;
  width: 95%;
  justify-self: end;
}

.florentine-text {
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  margin: 0;
}

.text-work-page {
  text-align: center;
}

.zillertal-img {
  width: 95%;
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
}

.zillertal-text {
  text-align: center;
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.florence-img {
  width: 95%;
  grid-column: 1;
  grid-row: 3;
  justify-self: end;
}

.florence-text {
  text-align: center;
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  align-self: center;
}

.mountain-img {
  width: 95%;
  grid-column: 2;
  grid-row: 4;
  justify-self: start;
}

.mountains-text {
  text-align: center;
  grid-column: 1;
  grid-row: 4;
  justify-self: center;
  align-self: center;
}

.magazine-img {
  width: 95%;
  grid-column: 1;
  grid-row: 5;
  justify-self: end;
}

.magazine-text {
  text-align: center;
  grid-column: 2;
  grid-row: 5;
  justify-self: center;
  align-self: center;
}
/* Footer */
footer {
  margin-top: 10rem;
}

.footer-text {
  color: rgb(242, 235, 226);
  background-color: rgb(0, 103, 79);
  height: 5rem;
  margin-bottom: 0;
}
