/* font */
* {
  font-family: "Quicksand", serif;
}

/*Header*/
.logo {
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: black;
}

/* Main */
h1 {
  font-size: 100px;
  text-align: center;
}

/* Footer */
footer {
  margin-top: 20rem;
}

/*Contact Me*/
#last-name-box {
  margin-left: 10rem;
  margin-top: -1.3rem;
}

#email-box {
  margin-top: 1.5rem;
}

#message-box {
  width: 100%;
}
